extends layout

block content
	.container
		header
			h1 A Chat application with nodejs socket io
		input(type='text')#pseudoInput
		button#pseudoSet Set Pseudo
		#chatEntries
		#chatControles
			input(type='text')#messageInput
			button#submit Send
				