doctype html
html
	head
		title Chat
		link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		link(rel='stylesheet', href='/socket.io/socket.io.js')
		link(rel='stylesheet', href='script.js')
	body
		block content